@font-face {
  font-family: "Circular Air";
  src: url("./assets/fonts/Circular_Air-Book.woff") format("woff"),
    url("./assets/fonts/Circular_Air-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular Air";
  src: url("./assets/fonts/Circular_Air-Light.woff") format("woff"),
    url("./assets/fonts/Circular_Air-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular Air";
  src: url("./assets/fonts/Circular_Air-Bold.woff") format("woff"),
    url("./assets/fonts/Circular_Air-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Circular Air", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
